<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleName</key>
    <string>Ghost Pepper</string>
    <key>CFBundleIdentifier</key>
    <string>com.github.matthartman.ghostpepper</string>
    <key>CFBundleVersion</key>
    <string>10</string>
    <key>CFBundleShortVersionString</key>
    <string>1.9</string>
    <key>LSUIElement</key>
    <true/>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/matthartman/ghost-pepper/main/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>aU72TC8lOwqKtnWlwAkT8z7LhIvB+LRnUNRNNw9DmDQ=</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Ghost Pepper needs microphone access to record your voice for transcription.</string>
</dict>
</plist>
